/*grid*/
.grid-container {
  width: 97%;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
/*Menu bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/*Somethings in page*/
h6{
  font-family: sans-serif ;
}
body{
  width: 100%;
  background-color: #f7f7f7;
}
a{
  font-size: 18px;
}
.title{
  text-align: center;
  padding-bottom: 150px 150px;
}
.header{
  
  width: 100%;
}
.footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding-top: 15px;
}
